/* Lumisade */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* Lumihiutalekuvat*/
    
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    overflow: hidden;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    z-index: 9999;
    background-color: #b4cfe0
}
/* Lumihiutalekeyframet*/

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
/*Ensimmäinen sivu*/
/* st-scroll eli viewport jossa liikutaan*/

.st-scroll {
    margin: 0px;
    padding: 0px;
}
/* st-panel eli liikkuvat ruudut*/

.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 100%;
}
.st-scroll {
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
    /* Let's enforce some hardware acceleration */
    
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
.salasana {
    margin-top: 5px;
}
.kirjaudukuva {
    top: 0;
    left: 0;
    z-index: 7;
    position: fixed;
    width: 100%;
    height: 100%;
}
.pelikuva {
    top: 100%;
    left: 0;
    z-index: -6;
    position: fixed;
    width: 100%;
    height: 100%;
}
/* Ensimmäinen kirjaudunappi*/

.kirjauduNappi {
    position: relative;
    top: 15vh;
    margin-top: 1vh;
    width: 30vh;
    height: 10vh;
    padding: 1vh 2vh;
    font-size: 5vh;
    background-color: #87CEFA;
    -moz-border-radius: 1vh;
    -webkit-border-radius: 1vh;
    border-radius: 1vh;
    border: 0px solid #009900;
    padding: 0.5vh;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    box-shadow: -0.5vh 0.5vh 1vh #3f4246;
    z-index: 8;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.kirjauduNappi:hover {
    width: 26vh;
}
/* ensimmäinen user*/

#user {
    position: relative;
    height: 4.5vh;
    width: 90%;
}
/* ensimmäinen salasana*/

#password {
    position: relative;
    height: 4.5vh;
    width: 90%;
    left: 0%;
}
/* ensimmäinen kirjautumislomake*/

.kirjauduform {
    
    font-size: 24px;
    width: 35vh;
    height: 18vh;
    margin: 10px;
    padding: 4vh;
    background-color: #87CEFA;
    -moz-border-radius: 1vh;
    -webkit-border-radius: 1vh;
    border-radius: 1vh;
    box-shadow: -3px 3px 10px #3f4246;
    z-index: 8;
    max-width: 35vh;
}
/* ensimmäinen ruutu*/

#st-panel-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kirjauduform {
    margin-top: 20px;
    text-align: center;
}
/* estää animaatiot ennen sivun latautumista*/

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
/* sisältää kaiken*/

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
}
/* kuva nuolesta alaspäin*/

.alaskuva {
    position: relative;
    top: 0.1vh;
    cursor: pointer;
    font-size: 16px;
    height: 4vh;
    line-height: 4vh;
    z-index: 1001;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* Painike josta siirrytään alas, sisältää myös linkin alas*/

#st-control-2,
#st-control-2a {
    position: fixed;
    bottom: 0px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    height: 6%;
    line-height: 34px;
}
#st-control-2 {
    opacity: 0;
    z-index: 1000;
}
#st-control-2a {
    z-index: 10;
    font-weight: 700;
    background: #87CEFA;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
}
#st-control-2,
#st-control-2a {
    left: 0;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
/*Ensimmäinen sivu päättyy*/
/*Toinen sivu*/
/* toinen käyttäjänimi*/

#user2 {
    position: relative;
    height: 4.5vh;
    width: 20vh;
    top: 0.5vh;
    z-index: 1000;
}
/* toinen salasana*/

#password2 {
    position: relative;
    height: 4.5vh;
    width: 20vh;
    top: 0.5vh;
    left: 1.5vh;
    z-index: 1000;
}
/*toinen kirjautumisnappi*/

.kirjauduNappi2 {
    position: relative;
    top: 1vh;
    margin: 4vh;
    width: 10vh;
    height: 5vh;
    padding: 1vh 2vh;
    font-size: 2vh;
    background-color: #E0FFFF;
    border: 0px solid #009900;
    padding: 0.5vh;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    z-index: 8;
    text-align: center;
    max-width: 100%;
}
/*kuva nuolesta ylöspäin*/

.yloskuva {
    position: relative;
    top: 1vh;
    cursor: pointer;
    font-size: 16px;
    height: 4vh;
    line-height: 4vh;
    z-index: 1001;
}
/*Nappi josta siirrytään ylös*/

.upButton {
    left: 0;
    position: fixed;
    left: 0%;
    top: 101%;
    width: 20%;
    height: 9%;
    cursor: pointer;
    font-size: 16px;
    z-index: 99999;
    line-height: 34px;
    background-color: #E0FFFF;
}
#st-control-1,
#st-control-1a {
    left: 0;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#st-control-1,
#st-control-1a {
    position: fixed;
    left: 0%;
    top: 101%;
    width: 20%;
    height: 9%;
    cursor: pointer;
    font-size: 16px;
    line-height: 34px;
    background-color: #E0FFFF;
}
#st-control-1 {
    opacity: 0;
    z-index: 1000;
}
#st-control-1a {
    z-index: 999;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
}
/*Nappi päättyy*/
/*Yläpalkki*/

#kirjauduUp {
    position: relative;
    width: 100%;
    font-size: 16px;
    height: 10%;
    line-height: 34px;
    z-index: 100;
    font-weight: 700;
    background: #87CEFA;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #888888;
    
}
.kirjauduform2,
upButton {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
/*Description*/

#description {
    word-wrap: normal;
    opacity: 0.8;
    text-align: left;
    padding-left: 2vh;
    position: absolute;
    left: 2.5%;
    top: 25%;
    width: 25%;
    height: 60%;
    font-size: 2vh;
    line-height: 34px;
    background-color: white;
    z-index: 2;
    box-shadow: -2px 5px 5px #888888;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -moz-border-radius: 1vh;
    -webkit-border-radius: 1vh;
    border-radius: 1vh;
    padding: 5vh;
    overflow-y: auto;
        line-height: 5vh;
}
/*Highscore*/

#highscore {
    text-align: left;
    padding-left: 2vh;
    position: absolute;
    left: 90%;
    top: 120%;
    width: 20%;
    height: 500%;
    font-size: 2vh;
    line-height: 34px;
    background-color: #87CEFA;
    z-index: 2;
    box-shadow: -2px 5px 5px #888888;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    overflow-y:auto;
}
table {
    height: 100%;
    width: 100%;
}
th {
    background-color: #87CEFA;
    font-size: 3vh;
}
td {
    padding-left: 3vh;
    padding: 2vh;
    padding-top: 0vh;
    border-bottom: 5px solid #87CEFA;
}
tbody tr:nth-child(odd) {
    background-color: #6bb0db;
}

#flappyTitle {
    text-align: center;
    text-shadow: -5px 5px 5px #888888;
    font-size: 9vh;
}
/*peli*/

#bird {
    visibility: hidden;
    position: absolute;
    left: 35%;
    top: 25%;
    box-shadow: -5px 5px 5px #888888;
}
#kirjauduNappi2 {}
/*highscoren sisältö*/

.score {
    position: relative;
}
/*logout nappi*/

#logOut {
    background-color: #E0FFFF;
    visibility: hidden;
    right: 0;
    position: fixed;
    right: 5vh;
    top: 102%;
    width: 10%;
    height: 6.5%;
    font-size: 3vh;
    z-index: 99999;
    line-height: 34px;
    border: 0px solid #009900;
    padding: 0.5vh;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    z-index: 8;
    text-align: center;
    max-width: 100%;
}
/*Käyttäjänimi*/

#userdataContainer {
    visibility: hidden;
    left: 0;
    position: fixed;
    left: 5vh;
    top: 101.25%;
    width: 20%;
    height: 7.5%;
    font-size: 3vh;
    z-index: 99999;
    line-height: 34px;
    background-color: #E0FFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#usr {
    margin-right: 6vh;
}
#personalScore {}
/*Toinen sivu päättyy*/
/*Eventit*/

#st-control-2:hover + #st-control-2a {
    background: #ADD8E6;
    height: 7vh;
}
#st-control-1:hover + #st-control-1a {
    top: 100%;
}
#st-control-1:hover + #st-control-1a:after {
    border-bottom-color: #ADD8E6;
}
#st-control-2:checked + #st-control-2a {
    visibility: hidden;
    bottom: -50px;
}
#st-control-2:checked {
    visibility: hidden;
    bottom: -50px;
}
.kirjauduNappi2:hover {
    box-shadow: inset -1px 1px 5px #3f4246;
}
#logOut:hover {
    box-shadow: inset -1px 1px 5px #3f4246;
}
#highscore:hover {
    left: 80%;
    box-shadow: -5px 5px 5px #888888;
}